:root {
    --primary-color: #31343d;
    --secondary-color: #92cccd;
    --tertiary-color: #445876;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededf6;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    z-index: 9999;
}

.header-title {
    background-color: var(--secondary-color);
    padding: 5px 25px 5px 90px;
    margin: 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 56px;
    color: var(--primary-color);
}

header h1 a {
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 35px 80px 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px 3px 15px;
    font-size: 1.4vw;
    border-bottom: 5px solid var(--secondary-color);
    margin-right: 5px;
    margin-left: 5px;
}

/* HERO STYLES */
.hero {
    background: url(../images/hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 35px 20px 0;
}

.hero-subtitle {
    display: flex;
    justify-content: end;
}

.hero-subtitle h2 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 36px;
    margin-right: 50px;
    padding: 10px;
}

/* BODY CONTENT STYLES */
article {
    width: 90%;
    margin: 50px 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

article h2 {
    color: var(--tertiary-color);
    font-size: 3.3vw;
    text-align: right;
    flex: 1 20%;
    padding-right: 20px;
}

article p {
    color: var(--tertiary-color);
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 25px;
}

article .right-section {
    flex: 2 70%;
    border-left: 5px solid var(--tertiary-color);
    padding-left: 50px;
}

/* CONTACT SECTION STYLES */
article .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

article .links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    padding: 6px 6px;
    border-bottom: 5px solid var(--tertiary-color);
}

/* WORK SECTION STYLES */
.project {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 15px 15px 0px;
    flex: 1 1 0px;
    border: 8px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.project-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.project img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.3s;
    margin: 0;
}

.main img {
    height: 100%;
}

.project img:hover {
    opacity: 1;
}

.project div {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
    padding: 15px 15px 15px 40px;
    z-index: 999;
}

.project h4 {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 5px;
}

.project h6 {
    color: var(--tertiary-color);
    font-size: 16px;
}