:root {
    --primary-color: #31343d;
    --secondary-color: #92cccd;
    --tertiary-color: #445876;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededf6;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    z-index: 9999;
}

.header-title {
    background-color: var(--secondary-color);
    padding: 5px 25px 5px 100px;
    margin: 15px 0;
}

header h1 {
    font-weight: bold;
    font-size: 56px;
    color: var(--primary-color);
}

header h1 a {
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 35px 80px 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px 3px 15px;
    font-size: 1.4vw;
    border-bottom: 5px solid var(--secondary-color);
    margin-right: 5px;
    margin-left: 5px;
}

/* HERO STYLES */
.hero {
    background: url(../images/hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 35px 20px 0;
}

.hero-subtitle {
    display: flex;
    justify-content: end;
}

.hero-subtitle h2 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 36px;
    margin-right: 50px;
    padding: 10px;
}